@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");

:root {
  /* color */
  --background-color: #dee7f0;
  --todo-box-color: #eeeeee;
  --border-color: #b4b4b4;
  --button-color: #a0b7cc;
  --button-text-color: #4a4a4a;
  --darkgray-color: #3e3e3e;
  --gray-color: #a4a4a4;
}

body {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
}

.todo-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 600px;
  justify-content: center;
}

.todo-title {
  text-align: center;
  font-family: "Nanum Pen Script", cursive;
  font-size: 6rem;
  color: var(--darkgray-color);
}

.todo-box {
  background-color: var(--todo-box-color);
  border: 1px solid var(--border-color);
  padding: 0rem;
  margin: 1rem;
}

.todo-box-top {
  display: flex;
  position: relative;
  height: 2.5rem;
  border-bottom: 1px solid var(--border-color);
  justify-content: center;
  align-items: center;
}

.todo-count {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: bold;
}

.todo-list {
  padding: 0rem;
  margin: 0rem;
}

.todo-item {
  display: flex;
  height: 2.5rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
}

.todo-item ul {
  list-style: none;
}

.todo-text {
  font-size: 15px;
}

.todo-item.checked .todo-text {
  text-decoration: line-through;
  font-style: italic;
  color: var(--gray-color);
}

.todo-show {
  display: flex;
  height: 2.5rem;
  justify-content: center;
  align-items: center;
}

#todo-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.todo-input {
  all: unset;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid var(--border-color);
}

/* button */

button {
  all: unset;
  color: var(--button-text-color);
  cursor: pointer;
}

button:active {
  font-weight: bolder;
}

.complete-all {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
  margin-left: 1.2rem;
  color: var(--gray-color);
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.complete-all:active {
  color: var(--darkgray-color);
}

.remove-all {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0%, -50%);
  margin: 0rem 1rem;
  font-size: 12px;
}

.checkbox,
.remove-item {
  margin: 0rem 1rem;
}

.checkbox {
  position: relative;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 7px 8px 6px 9px;
  background-color: var(--button-color);
}

.checkbox-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -65%);
  color: rgba(62, 62, 62, 0);
  font-size: 22px;
}

.todo-item.checked .checkbox-text {
  color: rgba(62, 62, 62, 1);
}

.show-button,
.add-button {
  border-radius: 40px 80px / 80px 40px;
  background-color: var(--button-color);
  margin: 0px 0.7rem;
  cursor: pointer;
  font-size: 12px;
  text-align: center;
}

.show-button {
  width: 3rem;
  height: 1.8rem;
}

.add-button {
  width: 5rem;
  height: 2rem;
}
