@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");

body {
  background-color: #dee7f0;
  display: flex;
  justify-content: center;
}

.todo-wrapper {
  min-width: 600px;
  justify-content: center;
}

.todo-title {
  text-align: center;
  font-family: "Nanum Pen Script", cursive;
  font-size: 6rem;
  color: #3e3e3e;
}

.todo-box {
  background-color: #eeeeee;
  border: 1px solid #b4b4b4;
  padding: 1rem;
  margin: 1rem;
}

.todo-box-top {
  display: flex;
  border-bottom: 1px solid #b4b4b4;
  justify-content: center;
  align-items: center;
}

button {
  all: unset;
  color: #4a4a4a;
}

button:active {
  font-weight: bolder;
}

.todo-item {
  display: flex;
  height: 2rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #b4b4b4;
}

ul {
  list-style: none;
}

.todo-show {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.show-button {
  width: 4rem;
}

.add-button {
  width: 5rem;
}

.todo-input-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.todo-input {
  all: unset;
  text-align: center;
  border-bottom: 1px solid #b4b4b4;
}
